<!-- start of header loaded from template -->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>page title - your site name</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="page description">
  <meta name="author" content="your name">
  <meta name="keywords" content="keyword list,site-wide keyword(s)">
  <meta name="viewport" content="width=400, initial-scale=1">
  <meta http-equiv="Content-Language" content="en">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="image_src" href="/your 100x100 icon.png" type="image/png">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="stylesheet" href="/styles.css" type="text/css" media="all">
  <link rel="stylesheet" href="/styles_mobile.css" type="text/css" media="handheld,only screen and (max-device-width:480px)">
  <!-- logic to load page-specific CSS if needed -->
</head>

<body>

<div id="header">
  <!-- I have my site name here for screen readers, it is hidden in CSS -->
  <p>your site name</p>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/url 1">menu item 1</a></li>
    <li><a href="/url 2">menu item 2</a></li>
    <li><a href="/url 3">menu item 3</a></li>
    <li>Search:
      <!-- search box (such as a Google Custom Search) for your site -->
    </li>
  </ul>
</div>

<!-- end of header loaded from template -->

<div id="content"> <!-- start of page content -->

  <h1>page title</h1>
  <h2>page subtitle or section 1</h2>
  <p>introductory paragraph</p>
  <h3>sub section 1</h3>
  <p>paragraph, etc...</p>

</div>

<!-- start of footer loaded from template -->

<div id="footer">
  <p>your copyright message and links (about, contact, sitemap, etc.)</p>
</div>

</body>
</html>

<!-- end of footer loaded from template -->
